*{
    box-sizing: border-box ;
    overflow: hidden ;
}

body{
    background-color: #212119c2;
    text-align:center ;
    color:darkcyan ;
}

h1{
    font-size: 56px ;
}

.count{
    font-size: 3.4rem;
    color:darkkhaki ;
}

.dec{
    padding:10px 16px ;
    background-color: yellowgreen;
    color:brown ;
    font-size: 30px;
    border:1px solid black ;
    border-radius:7px ;
    cursor:pointer ;
}

.inc{
    padding:10px 16px ;
    background-color: yellowgreen;
    color:brown ;
    font-size: 30px;
    border:1px solid black ;
    border-radius:7px ;
    cursor:pointer ;
}

.step{
    margin:3rem;
}

label{
    font-size: 26px ;
    font-weight: 800;
    letter-spacing: 1.5px;
    color:gold;
}

#stepCount{
    height:2rem ;
    width:4rem ;
    margin:16px 8px ;
    padding: 0 4px;
    border:1px solid black ;
    border-radius: 4px;
}

.reset{
    padding:10px 16px ;
    background-color: red;
    color:cyan ;
    font-size: 34px;
    border:1px solid black ;
    border-radius:7px ;
    cursor:pointer ;
}